/* some gool animations */
@-webkit-keyframes fade {
	from {background-color: #2d2d2d;}
	to {background-color:#cc6600;}
}

@-webkit-keyframes fadetoblack {
	from {background-color: #1c1c1c;}
	to {background-color:#000000;}
}

@-webkit-keyframes animationname {
  0%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(-10px);
  }
}

@-webkit-keyframes slideLeft {
	from {bottom:50px; opacity:0} 
	to {bottom:0; opacity:1}
}

@keyframes slideLeft {
	from {transform: translateX(10vw); opacity:0} 
	to {transform:translateX(0); opacity:1}
}

@keyframes spin {
	0% {transform: rotate(0deg);} 
	100% {transform: rotate(360deg);}
}

@-webkit-keyframes flyIn {
	from {bottom:-50px; opacity:0} 
	to {bottom:0; opacity:1}
}

@keyframes flyIn {
	from {right:-50px; opacity:0} 
	to {right:0; opacity:1}
}

@-webkit-keyframes fadeIn {
	from {opacity:0} 
	to {opacity:1}
}

@keyframes fadeIn {
	from {opacity:0} 
	to {opacity:1}
}

/* styles */
.page_content {
	position: relative;
	animation-name: flyIn;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	-webkit-animation-name: flyIn;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
}

html {
	background-color: #2d2d2d;
	color: white;
	display: flex;
	flex-direction: column;
	font-family: Arial;
}

body {
	margin: 0;
	padding: 0;
}

#header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	background-color: #e87f13;
	display: none;
	overflow: hidden;
	font-size: 12pt;
	text-align: right;
	font-weight: bold;
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	animation-name: fadeIn;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-fill-mode: forwards;
}

#headerimg {  
	height: 40px;
	width: 270px;
}

#header ul {
	list-style-type: none;
	margin: 0;
	height: auto;
	overflow: hidden;
}

#header ul li {
	display: inline-block;
	text-decoration: none;
	color: white;
	margin-right: 20px;
	float: left;
}

#header ul li a {
	color: white;
	text-decoration: none;
	display: block;
	padding: 15px;
}

a:hover {
	background-color: #995209;
}

#main {
	margin: 0 auto;
	display: none;
	min-height: 100%;
}

#intro {
	background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
	display: none;
	margin-top: 50px;
	transform: skewY(4deg);
	height: 500px;
	margin: 0;
	padding: 0;
}

#color2 {
	background-color: white;
	transform: skewY(-3deg);
	z-index: -1000;
	height: 100px;
	margin-top: -90px;
	display: none;
}

#introtext {
    margin-top: 70px;
	margin-left: 34px;
	float: left;
	z-index: 1;
	padding: 30px;
}

.card-transition {
	display: flex;
	position: relative;
	animation-name: slideLeft;
	animation-duration: 1s;
	animation-fill-mode: forwards;
    -webkit-animation-name: slideLeft;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
}

.card {
	width: 250px;
	background-color: #1c1c1c;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	padding: 30px;
	margin-right: 10px;
	text-align: center;
	transition: transform ease 200ms;
	
}

.card:hover {
	/* animation-name: fadetoblack, moveUp;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
    -webkit-animation-name: fadetoblack, moveUp;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-fill-mode: forwards;*/
	transform: translate(0, -10px);
}


blockquote { 
  border-left: 5px solid #fff; 
  padding-left: 10px; 
  font-size: 20px;
  width: 68%;
  float: left;
}


h4 {
	color: #f1881b;
	font-size: 32pt;
	line-height: 1px;
	font-weight: bold;
	text-align: center;
}

h5 {
	color: #f1881b;
	font-size: 26pt;
	line-height: 1px;
	font-weight: bold;
}

a {
	color: #e87f13;
}


#main {
	width: 90vw;
	margin-top: 30px;
	min-height: calc(100vh - 48px - 58px);
	padding: 20px;
}

.flex-container {
	display: flex;
}

.flex-child {
	flex: 1;
}

.flex-child:first-child {
	margin-right: 20px;
}

footer {
    text-align: center;
	background-color: #333;
	color: #fff;
	padding: 20px;
	display: none;
}

.chatwidget {
    text-align: center;
}

table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

table tr td {
	padding: 13px 40px;
}

table .header th {
	background-color: #e87f13;
	text-align: center;
	font-weight: bold;
	padding: 13px 40px;
}

table tr:nth-child(even) {
	background-color: #222;
}

#sheets {
	padding: 20px;
	-webkit-border-radius: 20px;
	background-color: orange;
	color: #fff;
	border: 0;
	width: 50%;
	font-size: 32px;
	font-family: Arial;
}

#sheets:hover {
	background-color: #995209;
}

#btn {text-align: center;}

#discord, #reddit, #facebook {
	padding: 20px;
	-webkit-border-radius: 16px;
}

#discord:hover {
	background-color: #5865F2;
	cursor: pointer;
}

#reddit:hover {
	background-color: #FF4500;
	cursor: pointer;
}

#facebook:hover {
	background-color: #3B5998;
	cursor: pointer;
}

.cards {
	display: flex;
	animation-name: moveUp;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

#card_element {
	padding: 10px 30px;
	-webkit-border-radius: 15px;
	float: left;
	text-align: left;
	width: 50%;
	flex: 1;
}

#card_element:hover {
	-webkit-animation: fade 0.3s;
	-webkit-animation-fill-mode: forwards;
}

.largetext {
	font-size: 24pt;
	font-weight: bold;
}

.under_const {
	background-color: #AA336A;
	color: white;
	padding: 10px;
	-webkit-border-radius: 16px;
}

#overview {
	width:150px;
	height:200px;
	float:right;
}

#searchoptions, #searchbar {
	background-color: #2d2d2d;
	padding: 4px 5px;
	color: white;
	font-family: Arial;
	float: right;
	border: 1px solid #e87f13;
	-webkit-border-radius: 5px;
}

#sortbutton {
	background-color: #2d2d2d;
	border: 1px solid #cc6600;
	font-family: Arial;
	-webkit-border-radius: 5px;
	color: white;
	width: 120px;
}

#sortbutton:active {
	background-color:#cc6600;
}

p { line-height: 1.4em; }

#descending:input checked {
	background-color: #cc7700
}

#loader {
    left: 50%;
	top: 50%;
	width: 120px;
	height: 120px;
	position: absolute;
	margin: -72px 0 0 -72px;
	z-index: 1;
	border: 20px solid #ffa500;
	border-top: 20px solid #2d2d2d;
	border-radius: 100%;
	animation: spin 1.5s linear infinite;
	-webkit-animation: spin 1.5s linear infinite;
}

.modal {
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 2;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: none;
	position: fixed;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.modal-cont {
	display: block;
	padding: 3px;
	width: 60%;
	margin: 15% auto;
	-webkit-animation: slideDown;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
	animation: slideDown;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	position: relative;
}

#modal-header {
	background-color: #cc7700;
	padding: 3px;
	-webkit-border-top-left-radius: 14px;
	-webkit-border-top-right-radius: 14px;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	font-size: 16pt;
}

#modal-content {
	background-color: #4b4b4b;
	padding: 20px;
	margin-top: 0 auto;
	-webkit-border-bottom-left-radius: 14px;
	-webkit-border-bottom-right-radius: 14px;
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}

.close:hover {
	cursor: pointer;
	color: black;
}

@-webkit-keyframes slideDown {
	from { bottom:30px; opacity:0 }
	to { bottom:0; opacity:1 }
}

@keyframes slideDown {
	from { bottom:30px; opacity:0 }
	to { bottom:0; opacity:1 }
}